async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp[default,curl-cffi]
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
pymongo
beautifulsoup4
bs4
Pillow
pytube
opencv-python-headless
uvloop
